.card {
  margin-bottom: 16px;
  .header {
    display: flex;
    align-items: center;

    :global {
      .el-button {
        padding: 0;
      }
    }

    .title {
      flex: 1;
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .rightMenu {
    }

    .more {
      transform: rotate(90deg);
    }
  }

  .cardTitleIcon {
    margin-right: .5rem;
  }

}

.cardTitleIconTwitter {
  /*#4267b2*/
  color: rgb(24, 144, 255);
  background-color: rgb(230, 247, 255);
}
.cardTitleIconFacebook {
  color: #ffffff;
  background-color: #4267b2;
}


.pageHeader {
  margin: -8px -24px 16px;
  padding: 16px 32px 0 32px;
  border-bottom: 1px solid $border-color;
  background-color: white;
  .title {
    color: #17233d;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
  }

  .content {
    color: #515a6e;
    margin-bottom: 16px;
  }
}
